/* Colores empleados */

:root
{
    --Morado: #E487FF ;
    --Rojo: #FB1859;

}

/* Estilos para el body en todos los tamaños de pantalla */
body {
    background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/06/xbox-game-studios-2361647.jpg?tf=3840x');
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0;
    
}

.backgroundContainer
{
    position: fixed; /* Fija el contenedor en la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/06/xbox-game-studios-2361647.jpg?tf=3840x");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; 
    margin-left: 15%;
}

/* Estilos para PC */
@media (min-width:1024px) {

    * {
        font-family: Arial, Helvetica, sans-serif;

    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    form {
        background-color: white;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        gap: 2%;
    }

    .lefiside {
        height: 25%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    label.sesions
    {
        justify-content: center;
        align-items: center;
    }

    .sesions {
        font-size: 35px;
        font-weight: 500;
    }

    
    .logo {
        font-size: 55px;
    }

    .ejemplodireccion {
        font-size: 16px;
    }

    .rightside {
        height: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2%;
    }

    input {
        height: 10%;
        width: 90%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .buttons {
        width: 91%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .invitado {
        width: 91%;
        height: 10%;
    }

    .credenciales {
        width: 91%;
        height: 10%;
        color: var(--Morado);
        font-weight: 500;
        font-size: 14px;
    }

    button {
        width: 30%;
        height: 65%;
        border: 0px;
        border-radius: 20px;
    }


    .cuenta {
        color: var(--Morado);
        background-color: white;
        font-weight: bold;
    }

    .cuenta:hover {
        background-color: rgb(241, 241, 241);
    }

    .siguiente {
        background-color: var(--Morado);
        color: white;
        font-weight: bold;
    }

    .siguiente:hover {
        background-color: rgb(85, 85, 192);
    }

    .menuayuda {
        width: 80%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1%;
    }

    .menuayuda button {
        width: 8%;
    }

    .menuayuda button:hover {
        background-color: rgb(225, 225, 225);
    }

}

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    * {
        font-family: Arial, Helvetica, sans-serif;

    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        background-color: white;
        width: 80%;
        height: 80%;
        flex-direction: column;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .lefiside {
        height: 40%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .sesions {
        font-size: 35px;
        font-weight: 500;
    }

    .logo {
        font-size: 55px;
    }

    .ejemplodireccion {
        font-size: 16px;
    }

    .rightside {
        height: 60%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%;
    }

    input {
        height: 10%;
        width: 90%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .buttons {
        width: 91%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        justify-content: space-around;
    }

    .invitado {
        width: 91%;
        height: 10%;

        font-size: 1em;
    }

    .credenciales {
        width: 91%;
        height: 10%;
        color: rgb(99, 99, 228);
        font-weight: 500;
        font-size: 14px;
    }

    button {
        width: 30%;
        height: 65%;
        border: 0px;
        border-radius: 20px;
    }


    .cuenta {
        width: 45%;
        color: var(--Morado);
        background-color: white;
        font-weight: bold;
    }

    .cuenta:hover {
        background-color: rgb(241, 241, 241);
    }

    .siguiente {
        width: 45%;
        background-color: var(--Morado);
        color: white;
        font-weight: bold;
    }

    .siguiente:hover {
        background-color: rgb(85, 85, 192);
    }

    .menuayuda {
        width: 80%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .menuayuda button {
        width: 30%;
    }

    .menuayuda button:hover {
        background-color: rgb(225, 225, 225);
    }
}

/* Celular */
@media (max-width:767px) {
    * {
        font-family: Arial, Helvetica, sans-serif;

    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        background-color: white;
        width: 80%;
        height: 80%;
        flex-direction: column;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .lefiside {
        height: 40%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .sesions {
        font-size: 35px;
        font-weight: 500;
    }

    .logo {
        font-size: 55px;
    }

    .ejemplodireccion {
        font-size: 16px;
    }

    .rightside {
        height: 60%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%;
    }

    input {
        height: 10%;
        width: 90%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .buttons {
        width: 91%;
        height: 20%;
        display: flex;
        align-items: center;
        gap: 2%;
        justify-content: space-around;
    }

    .invitado {
        width: 91%;
        height: 10%;

        font-size: 0.7em;
    }

    .credenciales {
        width: 91%;
        height: 10%;
        color: rgb(99, 99, 228);
        font-weight: 500;
        font-size: 14px;
    }

    button {
        width: 30%;
        height: 65%;
        border: 0px;
        border-radius: 20px;
    }


    .cuenta {
        width: 45%;
        color: var(--Morado);
        background-color: white;
        font-weight: bold;
    }

    .cuenta:hover {
        background-color: rgb(241, 241, 241);
    }

    .siguiente {
        width: 45%;
        background-color: var(--Morado);
        color: white;
        font-weight: bold;
    }

    .siguiente:hover {
        background-color: rgb(85, 85, 192);
    }

    .menuayuda {
        width: 80%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .menuayuda button {
        width: 30%;
    }

    .menuayuda button:hover {
        background-color: rgb(225, 225, 225);
    }
}